@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    background-color:black;
}
.wrapper{
    height:100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    justify-content: start;
    align-items: flex-start;
}
.wrapper .navigation_bar {
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    
} 
.wrapper .navigation_bar .logo h2{
    color:greenyellow;
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 200px;
     
}
.wrapper .navigation_bar .logo  h2 span{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;

}
.wrapper .navigation_bar .logo h2 span:hover{
    color: deeppink;
}
.wrapper .navigation_bar  ul{
  
    float: right;
    display: inline-flex;
    margin-right: 230px;
    margin-top: -25px;
    
}
.wrapper .navigation_bar  ul li{
    position: relative;
    list-style: none;
    margin-left: 30px;
}
.wrapper .navigation_bar  ul li a{
    color: greenyellow;
    font-size: 20px;
}
.wrapper .navigation_bar  ul li a i{
    color: #fff;
}
.wrapper .navigation_bar  ul li a:hover{
    color: deeppink;
}
.drop{
    display: none;
}
.wrapper .navigation_bar:hover .drop{
    display: block;
    position: absolute;
    left:830px;
    top: 60px;
}
.drop ol li a{
    list-style: none;
    display: block;
    padding: 5px;
    color: greenyellow;
    border-bottom: 2px solid gray;
    
}
.wrapper footer{
    font-weight: bold;
    margin-top: 200px;
    margin-left: 90px;
}
.wrapper footer h1{
    font-size: 25px;
    color: #fff;
}
.wrapper footer img{
    height: 240px;
    width: 245px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    float: right;
    margin-right: 200px;
    border-radius: 50%;
    margin-top: -70px;
}
.wrapper footer h1 span{
    color: greenyellow;
}
.wrapper footer h1 span:hover{
    color: deeppink;
}
.wrapper footer p{
    margin-top: 20px;
    width:550px;
    color: white;
}
.wrapper footer  a .fab{
    margin-top: 40px;
margin-left: 20px;
font-size: 30px;
color: greenyellow;
}
.wrapper footer .fab:hover{
    color: deeppink;
}
